{% extends "layout.html" %}
{% block head %}
<style type="text/css">
    table.tasks {
      border-top:1px solid #e5eff8;
      border-right:1px solid #e5eff8;
      margin:1em auto;
      border-collapse:collapse;
    }
    td.tasks,
    th.tasks {
      /*color:#678197;*/
      border-bottom:1px solid #e5eff8;
      border-left:1px solid #e5eff8;
      padding:.3em 1em;
    }
    td.oddday, th.tasks {
      background:#E3E4FA
    }
    table.tasks h4 {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .taskdata {
      color: gray;
    }
    span.clocked {
      font-weight: bold;
      text-decoration: underline;
    }
    span.scheduled {
      font-weight: bold;
      text-decoration: underline;
    }
    td.orgname {
      text-align: right;
    }
</style>
{% endblock %}
{% block favicon -%}
<link rel="shortcut icon"
      href="{{ url_for('static',
            filename='favicons/cube_molecule_preferences.ico') }}">
{%- endblock %}
{% block body %}
  <h1>{{ title }}</h1>

  <table class="tasks" width="200">
    <tr>
      <th class="tasks">Closed</th>
      <th class="tasks">Task</th>
    </tr>
    {% for row in table %}
    <tr>
      <td class="tasks{% if row.oddday %} oddday{% endif %}">
        {{ row.closed }}
      </td>
      <td class="tasks">
        <h4>{{ row.heading }}</h4>
        <table style="width: 100%" class="taskdata">
          <tr>
            <td width="35%">
              clocked: <span class="clocked">
                {%- if row.clocksum %}{{ row.clocksum }}{% else %}-{%- endif %}
                ({%- if row.effort -%}{{ row.effort }}{%- else -%}-
                {%- endif -%})</span>
            </td>
            <td width="40%">
              {% if row.scheduled -%}
              scheduled: <span class="scheduled">{{ row.scheduled }}</span>
              {%- endif %}
            </td>
            <td width="25%" class="orgname">
              <span>@{{ row.orgname }}</span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
