<!doctype html>
<title>{{ title }}</title>
<style type="text/css">
  body {
    font-family: Lucida Sans,Arial,sans-serif;
    margin: 0;
    padding 0;
  }
  #navilist {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
  #navilist li {
    display: inline;
    list-style-type: none;
    padding-right: 10px;
  }
</style>
{% block favicon -%}
<link rel="shortcut icon"
      href="{{ url_for('static', filename='favicons/default.ico') }}">
{%- endblock %}
{% block head %}{% endblock %}
<body>
<ul id="navilist">
  <li><a href="{{ url_for('cal') }}">⌚ Calendar</a>
  <li><a href="{{ url_for('dones') }}">☑ DONEs</a>
  <li><a href="{{ url_for('graphs') }}">∿ Graphs</a>
</ul>
{% block body %}{% endblock %}
