<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>{{ title }}</title>

  <script src="http://static.simile.mit.edu/timeline/api-2.3.0/timeline-api.js?bundle=true" type="text/javascript"></script>

  <script
     type='text/javascript'
     src="{{ url_for('static', filename='lib/jquery/jquery-1.5.2.min.js') }}"
     ></script>
  <script>
  var tl;
  function onLoad(){
    $.getJSON("{{ url_for('timeline_data') }}", setUpTL);
  }

  function setUpTL(timeline_data) {
      var tl_el = document.getElementById("tl");
      var eventSource1 = new Timeline.DefaultEventSource();

      var theme1 = Timeline.ClassicTheme.create();
      theme1.autoWidth = true; // Set the Timeline's "width" automatically.
                               // Set autoWidth on the Timeline's first band's theme,
                               // will affect all bands.
      theme1.mouseWheel = 'zoom';

      var bandInfos = [
          Timeline.createBandInfo({
              width:          45, // set to a minimum, autoWidth will then adjust

              intervalUnit:   Timeline.DateTime.MONTH,
              intervalPixels: 100,
              eventSource:    eventSource1,

            zoomIndex:      10,
            zoomSteps:      new Array(
              {pixelsPerInterval: 280,  unit: Timeline.DateTime.HOUR},
              {pixelsPerInterval: 140,  unit: Timeline.DateTime.HOUR},
              {pixelsPerInterval:  70,  unit: Timeline.DateTime.HOUR},
              {pixelsPerInterval:  35,  unit: Timeline.DateTime.HOUR},
              {pixelsPerInterval: 400,  unit: Timeline.DateTime.DAY},
              {pixelsPerInterval: 200,  unit: Timeline.DateTime.DAY},
              {pixelsPerInterval: 100,  unit: Timeline.DateTime.DAY},
              {pixelsPerInterval:  50,  unit: Timeline.DateTime.DAY},
              {pixelsPerInterval: 400,  unit: Timeline.DateTime.MONTH},
              {pixelsPerInterval: 200,  unit: Timeline.DateTime.MONTH},
              {pixelsPerInterval: 100,  unit: Timeline.DateTime.MONTH}, // DEFAULT zoomIndex
              {pixelsPerInterval:  50,  unit: Timeline.DateTime.MONTH},
              {pixelsPerInterval: 400,  unit: Timeline.DateTime.YEAR},
              {pixelsPerInterval: 200,  unit: Timeline.DateTime.YEAR},
              {pixelsPerInterval: 100,  unit: Timeline.DateTime.YEAR}
            ),

              date:           Date(),
              theme:          theme1,
              layout:         'original'  // original, overview, detailed
          })
      ];

      // create the Timeline
      tl = Timeline.create(tl_el, bandInfos, Timeline.HORIZONTAL);

      var url = '.'; // The base url for image, icon and background image
                     // references in the data
      eventSource1.loadJSON(timeline_data, url); // The data was stored into the 
                                                 // timeline_data variable.
      tl.layout(); // display the Timeline
  }

  var resizeTimerID = null;
  function onResize() {
      if (resizeTimerID == null) {
          resizeTimerID = window.setTimeout(function() {
              resizeTimerID = null;
              tl.layout();
          }, 500);
      }
  }
  </script>
</head>
<body onload="onLoad();" onresize="onResize();">
  <div id=tl></div>
</body>
</html>
